:root {
	--cell-size: 100px;

	--color: #81c3fd; /* for hover */
	--color-set: #0275d8; /* when set */
	--l: 10px; /* X line-width */
}

body {
	margin: 0;
}

.board {
	width: 100vw;
	height: 50vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}

.cell {
	font-size: 60px;
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.winning-message{
	text-align: center;
}

#Turn-text{
	text-align: center;
}


#Tic-Tac-Toe-Game{
	text-align: center;
}